*{
    padding: 0;
    margin: 0;
}
article{
    background-color:rgb(38, 190, 177);
    height: 505px;
}
nav{
    background-color: rgb(192, 181, 181);
}
.piePagina{
    width: 100%;
    height: 70px;
    background: #5066e6;
    color: rgb(0, 0, 0);
    bottom: 0;
    position: fixed;
    left: 0;
}